body {
  color: #080831;
  background: #fafafa;
  font-family: 'Fira Sans', monospace;
  line-height: 145%;
  margin: 3em 4em 2em 8em;
  max-width: 1400px;
}

h1 {
  font-size: 24px;
  line-height: 1;
}

a {
  color: #000;
}

hr {
  border-style: solid;
  border-width: 1px;
  border-color:  #ccc;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 2em 0 3em 0;
}

header p {
  font-weight: 300;
  margin: 0 0 11px 20px;
}

header p.contact {
  flex-grow: 100;
  text-align: right;
  margin-right: 0.5em;
}

p.contact {
  text-align: center;
  margin-top: 2em;
}

p.contact a {
  color: #F9F9F9;
  background: #080831;
  padding: 0.5em 1em;
  border-radius: 20px;
}

p.contact a:hover {
  background: #000;
}

#page {
  display: flex;
  flex-direction: row;
}

#sidebar {
  margin-left: 4em;
  width: 35%;
}

#sidebar-content-preamble {
  font-weight: 200;
  background: #E5E5E5;
  padding: 1.5em;
  border-radius: 5px;
}

#sidebar-content-preamble * {
  font-weight: 200;
}

#sidebar-content-preamble p { line-height: 160%; }
#sidebar-content-preamble h3 { margin: 0; }
#sidebar-content-preamble ul { padding-left: 1.5em; }
#sidebar-content-preamble li { margin-bottom: 0.5em; }

#sidebar-content-partners {
  text-align: center;
  margin-top: 4em;
}

#sidebar-content-partners h3 { font-weight: 200; text-transform: uppercase; }
#sidebar-content-partners figure img { max-width: 100px; }
#sidebar-content-partners figure h4  { font-weight: 200; }

#content { width: 65%; }

#content h1 {
  font-size: 20px;
  font-weight: 400;
  margin-top: -0.9em;
}

#content .preamble {
  font-weight: 300;
  font-style: italic;
  max-width: 90%;
  margin-bottom: 2em;
}

#content h2 {
  font-weight: 400;
  font-size: 20px;
  display: list-item;
  list-style-type: none;
  counter-increment: h3;
  position: relative;
  margin-top: 2em;
}

#content h2::before {
  content: "#" counter(h3) " ";
  color: #ffa07a;
  font-weight: bold;
  font-size: 36px;
  text-align: right;
  margin: 0;
  display: block;
  width: 3em;
  position: absolute;
  top: 5px;
  left: calc(-68px - 1.5em);
  transform: translateY(-50%);
}

#content-inner p {
  font-weight: 300;
}


@media (max-device-width: 667px) {
  body {
    margin: 1em 1em 1em 4em;
  }
  header {
    display: block;
    text-align: center;
    margin: 2em 0 4em -4em;
  }
  header p.contact {
    text-align: center;
    margin-top: 1em;
  }
  #page {
    display: block;
  }
  #content {
    width: 100%;
  }
  #sidebar {
    margin-left: -1.5em;
    width: 100%;
  }
}
